<div class="user-details">
    <h1> About Me </h1>
    <p> {{site.user_description}} </p>
    <h1> My Expertise </h1>
</div>
<div class="user">
    <div class="tech">
        <h2 class="about-short-heading">Backend</h2>
        <i class="devicon-java-plain-wordmark colored"></i>
        <i class="devicon-python-plain-wordmark colored"></i>
        <i class="devicon-postgresql-plain colored"></i>
        <i class="devicon-oracle-original colored"></i>
        <p> I have mostly worked with Java in the backend and my current experience
            spans <span id="java-years">4</span> years. The databases backing those
            systems have been SQL based, such as PostgreSQL and Oracle DB.
        </p>
    </div>
    <div class="tech">
        <h2 class="about-short-heading">Frontend</h2>
        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-vuejs-plain colored"></i>
        <i class="devicon-yarn-plain colored"></i>
        <p> I've worked with Vue and JSF (Primefaces) professionally. Since I've had
            experience in web development, I'm also familiar with React and tools such
            as NPM, Gulp, Sass and Yarn.</p>
    </div>
    <div class="tech">
        <h2>Machine Learning</h2>
        <img class="svg-image" alt="Tensorflow" src="{{ "/assets/svg/tensorflow.svg" | prepend: site.baseurl }}" />
        <img class="svg-image" alt="Keras" src="{{ "/assets/svg/keras.svg" | prepend: site.baseurl }}" />
        <img class="svg-image" alt="Numpy" src="{{ "/assets/svg/numpy.svg" | prepend: site.baseurl }}" />
        <p> During my studies at Delft University of Technology I have used Keras API
            running on top of Tensorflow to reproduce state-of-the-art research in addition
            to libraries such as numpy and pandas to ease data manipulation.</p>
    </div>
    <div class="tech">
        <h2 class="about-short-heading">Other</h2>
        <i class="devicon-git-plain colored"></i>
        <i class="devicon-amazonwebservices-plain colored"></i>
        <i class="devicon-tomcat-line colored"></i>
        <i class="devicon-intellij-plain-wordmark colored"></i>
        <p> As a developer, I'm always looking for ways to enhance my workflow. The software
            I've used are the industry's standard, such as IntelliJ IDEA, git, AWS, Google Cloud and
            Tomcat Servlet.</p>
    </div>
</div>
