<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
    <div class="images-left">
        <a href="https://www.adyen.com/" target="_blank" rel="nofollow"><img alt="adyen" src="{{ "/assets/img/adyen.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="contents-right">
        <h3> Master Thesis on Machine Learning </h3>
        <ul>
            <li> Machine Learning, Code Reviews</li>
            <li> TU Delft & Adyen, Amsterdam, Netherlands</li>
        </ul>
        <p> Working on a 9 month Master Thesis project in order to enhance code review process at Adyen, Amsterdam. The
            aim is to use novel artificial intelligence techniques in order to focus developers attention to
            code that is most likely containing bugs.</p>
    </div>
</div>
<div class="user-projects">
    <div class="images-right">
        <a href="https://www.cgi.ee/et" target="_blank" rel="nofollow"><img alt="CGI" src="{{ "/assets/img/cgi.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="contents-left">
        <h3> Full Stack Developer </h3>
        <ul>
            <li> Java (+ Spring), JSF, Oracle DB</li>
            <li> CGI, Estonia</li>
        </ul>
        <p>Part of a team developing a large enterprise solution for Norway’s
            new national electrical grid system. Worked in an Estonian scrum team
            collaborating closely with Norwegian colleagues.</p>
    </div>
</div>
<div class="user-projects">
  <div class="images-left">
      <a href="https://www.ttu.ee/projects/mektory-eng/satellite-programme-3/" target="_blank" rel="nofollow"><img alt="satellite" src="{{ "/assets/img/cubesat.png" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-right">
    <h3> Attitude Determination Software Developer </h3>
      <ul>
          <li> MATLAB, Embedded C</li>
          <li> TalTech, Estonia</li>
      </ul>
      <p> Worked as a main contributor to TalTech’s first cube satellite mission, TTU100,
          in the area of attitude determination
          software as part of my Bachelor thesis. The paper was later chosen to be one of
          the best of the Information Technology Faculty in 2018.</p>
    <a class="project-link" target="_blank" rel="nofollow" href="https://digi.lib.ttu.ee/i/?10717&">Check it out</a>
  </div>
</div>
<div class="user-projects">
    <div class="images-right">
        <a href="https://www.icefire.ee/" target="_blank" rel="nofollow"><img alt="CGI" src="{{ "/assets/img/icefire.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="contents-left">
        <h3> Full Stack Developer Intern </h3>
        <ul>
            <li> JHipster, Java (+Spring), Angular, SQL</li>
            <li> Icefire, Estonia</li>
        </ul>
        <p>Helped to build a custom tailored self-servicing website using latest technologies to the biggest Telecom
            company in Estonia.</p>
    </div>
</div>